Demo/WEB-INF/wsdl/UserInfoService_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://test/" targetNamespace="http://test/" version="1.0">

  <xs:element name="getUserInfo" type="tns:getUserInfo"/>

  <xs:element name="getUserInfoResponse" type="tns:getUserInfoResponse"/>

  <xs:complexType name="getUserInfo">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getUserInfoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
